button{
    color: red;
    border-radius: 25%;
    padding: 10px;
    background-color: yellow;
    border-color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}