body{
    background-color: azure;
}
#box{
    color: rgb(238, 77, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.mota{
    color: blue;
    justify-content: center;
    display: flex;
    align-items: center;

    
}

button{
    color: red;
    background-color: yellow;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}