/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#nav{
    height: 60px;
    background-color: black;
}
button{
    background-color: rgb(240, 9, 6);
}
#logo{
    color: red;
    font-size: 25px;
}
a{
    margin-right: 150px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} */

div{
    background-color: red;
    display: inline;
}