body{
    padding: 0;
    margin: 0;
}
input{
    display: flex;
    align-items: center;
    justify-content: center;
}



div{
    justify-content: center;
    display: flex;
    justify-items: center;
    margin-top: 100px;
}